process {
    executor = 'crg'
    queue = { 'long-sl7' }
    memory = { task.attempt < 4 ? (12.GB * task.attempt) : 48.GB }
    errorStrategy = { task.attempt < 7 ? 'retry' : 'finish' }
    maxRetries = 6
    time = '96h' 
    //scratch = true
    container = 'docker://cbcrg/tcoffee-dpa@sha256:04d5bc286d6c9b168841bc413ec7e8d97aac5422deefd534a2f0922d12d717ee'
}

singularity.enabled=true
