process {
    executor = 'crg'
    queue = { task.attempt < 4 ? 'long-sl7' : task.attempt <  7 ? 'long-sl7' : 'mem512' }
    memory = { task.attempt < 4 ? (12.GB * task.attempt) : task.attempt <  7 ? (18.GB * task.attempt) : 256.GB }
    errorStrategy = { task.attempt < 7 ? 'retry' : 'finish' }
    maxRetries = 6
    time = '12h' 
    //scratch = true
    container = 'docker://cbcrg/tcoffee-dpa@sha256:04d5bc286d6c9b168841bc413ec7e8d97aac5422deefd534a2f0922d12d717ee'
}

singularity = enabled
