process {
    executor = 'crg'
    queue = { task.attempt < 4 ? 'cn-el7' : task.attempt <  7 ? 'long-sl7' : 'mem512' }
    memory = { task.attempt < 4 ? (12.GB * task.attempt) : task.attempt <  7 ? (18.GB * task.attempt) : 256.GB }
    errorStrategy = { task.attempt < 7 ? 'retry' : 'finish' }
    maxRetries = 6
    time = '12h' 
    //scratch = true
    container = 'docker://cbcrg/tcoffee-dpa@sha256:bb91eec3b0a7ab485ade6212af6336042b64dc75b5d30a31dc43a5beec0f4fbf'
}

singularity = enabled
